@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Kdam+Thmor+Pro&family=Noto+Sans+KR:wght@300&display=swap');
.about {
  background: #f3e5f5;
  padding: 20px;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

.about h2 {
  text-align: center;
}
