.portfolio {
    background: #b71775;
    height: 200px;
  }
  
  .portfolio h1 {
    margin: 0;
    padding-top: 25px;
    padding-left: 30px;
    text-align: left;
    color: white;
    font-size: 3rem;
  }